ADMIN_KEY=change-me
PUBLIC_BASE_URL=http://localhost:3000
PORT=3000
SQLITE_FILE=/app/apps/api/storage/nodehubsapi.db
MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=auto
MINIO_BUCKET=nodehubsapi
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
SINGBOX_VERSION=1.13.0
XRAY_VERSION=26.2.6
